{% extends 'base.html' %}
{% import './pagination.html' as _macro %}

{% block main_content %}
	<div class="container">
		<div class="row col-md-10 col-md-offset-1">
			<table class="table table-hover table-bordered">
				<tr>
					<th>书名</th>
					<th>类型</th>
					<th>作者</th>
					<th>出版社</th>
					<th>ISBN</th>
					<th>售价</th>
					<th>操作</th>
				</tr>
				{% for book in pagination.items %}
					<tr>
						<td>{{ book.title }}</td>
						<td>{{ book.category.name }}</td>
						<td>{{ book.author }}</td>
						<td>{{ book.publisher }}</td>
						<td>{{ book.ISBN }}</td>
						<td>￥{{ book.price }}</td>
						<td>
							<a href="{{ url_for('book.book_release', book_id=book.id) }}" class="btn btn-primary btn-sm"
							   title="修改">
								<i class="fa fa-pencil fa-fw" aria-hidden="true"></i>修改 </a>
							<a href="{{ url_for('book.book_delate',book_id=book.id) }}" class="btn btn-danger btn-sm" title="删除">
								<i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>删除 </a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		{{ _macro.render_pagination(pagination, 'book.book_list') }}
	</div>
{% endblock %}