{% extends 'base.html' %}

{% block main_content %}
	<div class="container">
		<div class="list-group">
			<div class="list-group-item">
				<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="http://placehold.it/300x300">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">zzzzzzzzz</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda explicabo impedit maxime
					necessitatibus officia sit? Asperiores blanditiis expedita facilis hic incidunt possimus, quae quaerat quo
					velit voluptatibus. Doloremque, nisi.</p>
			</div>
		</div>
			</div>
			<div class="list-group-item">
				<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="http://placehold.it/100x100">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">zzzzzzzzz</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda explicabo impedit maxime
					necessitatibus officia sit? Asperiores blanditiis expedita facilis hic incidunt possimus, quae quaerat quo
					velit voluptatibus. Doloremque, nisi.</p>
			</div>
		</div>
			</div>
			<div class="list-group-item">
				<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="http://placehold.it/100x100">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">zzzzzzzzz</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda explicabo impedit maxime
					necessitatibus officia sit? Asperiores blanditiis expedita facilis hic incidunt possimus, quae quaerat quo
					velit voluptatibus. Doloremque, nisi.</p>
			</div>
		</div>
			</div>
			<div class="list-group-item">
				<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="http://placehold.it/100x100">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">zzzzzzzzz</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda explicabo impedit maxime
					necessitatibus officia sit? Asperiores blanditiis expedita facilis hic incidunt possimus, quae quaerat quo
					velit voluptatibus. Doloremque, nisi.</p>
			</div>
		</div>
			</div>
		</div>
	</div>
{% endblock %}