<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>图书管理系统</title>
	<!--引入wangEditor.css-->
	<link rel="stylesheet" type="text/css" href="../static/dist/css/wangEditor.min.css">
	<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
	{% block style %}

	{% endblock %}

	.page-header {
		margin-top: 7%
	}

	.navbar-nav {
		margin: auto;
	}

	.navbar-header {
		margin: auto;
	}
</style>

<body>
<div class="container">
	<div class="row">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<a href="{{ url_for('book.book_list') }}" class="navbar-brand">
					<i class="fa fa-book fa-lg" aria-hidden="true"></i> 主页
				</a>
				<button data-target="#bar" data-toggle="collapse" class="navbar-toggle">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</button>
			</div>
			<div id="bar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">图书管理<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('book.book_list') }}">图书列表</a></li>
							<li><a href="{{ url_for('book.book_release') }}">发布图书</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">文章管理<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="">文章列表</a></li>
							<li><a href="">发布文章</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<form action="#" method="get" class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" name="key" id="key" placeholder="标题搜索" }}>
							<button type="submit" class="btn btn-default"><i class="fa fa-search fa-fw" aria-hidden="true"></i>
							</button>
						</div>
					</form>
					<li><a href="">操作日志</a></li>
					<li>
						{% if current_user.is_authenticated %}
							<a href="{{ url_for('auth.logout') }}">退出登录</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
{#导航条结束#}

<div class="container">
	<div class="row">
		<div class="page-header" id="page-header">
			<h3>图书管理系统{% if title %}
				<small>{{ title }}</small>{% endif %}</h3>
		</div>
	</div>
</div>
{% block main_content %}


{% endblock %}
<div class="container">
	<div class="row">
		<div class="panel-footer ">
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<div class="h4">关于</div>
					<p>一个练手项目，</p>
					<p>前端使用Bootstrap,</p>
					<p>后台Flask，</p>
					<p>个人博客地址</p>
				</div>
				<div class="col-md-4">
					<div class="h4">个人信息</div>
					<ul class="list-unstyled">
						<li><p>Name: 何振衡</p></li>
						<li><p>Location: Hengyang, Hunan, China</p></li>
						<li><p>Email: <a href="mailto:784430124@qq.com">784430124@qq.com</a></p></li>
						<li><p>Github: <a href="https://github.com/qq784430124">ClickMe</a></p></li>
					</ul>
				</div>
				<div class="col-md-2">
					<div class="h4">扫一扫加微信</div>
					<img class="img-thumbnail" src="/static/image/weixinQR.png">
				</div>
			</div>
		</div>
	</div>

</div>
</body>
<!--引入jquery和wangEditor.js-->   <!--注意：javascript必须放在body最后，否则可能会出现问题-->
<script type="text/javascript" src="../static/dist/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../static/dist/js/wangEditor.min.js"></script>

{% block script %}

{% endblock %}
</html>