<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录</title>
	<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		.center-block {
			/*			float: none;
                  display: block;
              margin-left: auto;
              margin-right: auto;
              margin-top: 100px;*/

			position: absolute;
			left: 20%;
			right: 20%;
			top: 20%;
			bottom: 20%;
		}
	</style>
</head>

<body>
<div class="container">
	<div class="row">
		<div class="center-block col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading text-center">
					<h4 style="color: #fff">管理员登录</h4>
				</div>
				<div class="panel-body">
					<form action="{{ url_for('login.login') }}" method="post">
						{% for msg in get_flashed_messages() %}
							<div class="alert alert-danger">
								<a href="" class="close" data-dismiss="alert">&times;</a>
								{{ msg }}
							</div>
						{% endfor %}
						<div class="form-group col-md-11">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="username" id="username" placeholder="用户名">
							</div>
						</div>
						<div class="form-group col-md-11">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
								<input type="password" class="form-control" name="password" id="password" placeholder="密码">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2 col-md-offset-2">
								<button type="submit" class="btn btn-primary"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> 登 录
								</button>
							</div>
							<div class="col-md-6 col-md-offset-2">
								<input type="checkbox" name="cookies" ><panel style="font-size: larger">七天内免登陆</panel>
							</div>
						</div>
				</form>
			</div>
			<div class="panel-footer text-right"><span>&copy;2017.3.21 版权所有</span></div>
		</div>
	</div>
</div>
</div>
</body>

</html>